@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Oswald|Quicksand&display=swap');
body {
    background: linear-gradient(rgba(29, 5, 165, 0.5), rgba(29, 5, 165, 0.5)), url("../imgs/interview.jpg") no-repeat;
    background-size: cover;
}

/*
.bg-image {
    position: relative;
    background: url("../imgs/jobs.png");
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}*/

.job-navbar {
    background-color: white;
    opacity: 0.65;
}

.job-navbar:hover {
    opacity: 1;
    transition: 0.8s ease;
}

.nav-item a:hover {
    border-bottom: 3px solid #007bff;
}

.nav-item a.active {
    border-bottom: 3px solid #007bff;
}

.dream-job {
    font-family: "Nunito Sans", Arial, sans-serif;
    margin-top: 30px;
    letter-spacing: 2px;
    line-height: 30px;
}

.nav {
    height: 100%;
}

b {
    font-size: 60px;
    font-weight: 900;
}

.dream-job>p {
    font-size: 40px;
    font-weight: lighter;
}

.job-offers {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 20;
    margin-top: 50px;
    opacity: 0.804339;
}

.find-job {
    padding: 10px 20px;
    background-color: #fffffff6;
    color: #007bff;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 500;
}

.job-search {
    margin-top: 60px;
}

.search-content {
    padding: 20px;
    background: #fffffff6;
    margin-top: -2px;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    width: 70%;
    margin-top: 8.5px;
}

.job-search>.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.todays-jobs {
    line-height: 1px;
    color: #a7a7a7
}

.available-jobs {
    width: 70%;
}

.card {
    background-color: white !important;
    border: none !important;
    height: 120px;
    padding-top: 10px;
    justify-content: center;
    border-radius: 0.5rem;
}

.jobs-number {
    color: #007bff
}

.card-title {
    font-size: 20px;
}

.card:hover {
    background-color: #f5f5f5 !important;
}

@media(max-width: 767px) {
    .search-content {
        width: 100%;
    }
    .available-jobs {
        width: 100%;
    }
    .recent-jobs, .all-jobs, .today-jobs {
        margin-bottom: 5px;
    }
}